@import "tailwindcss";

.degradado {
  background-image: linear-gradient(to right, #3b82f6, #9333ea);
}

.fuente-arial-black {
  font-family: 'Arial Black', sans-serif;
}

.color-fondo {
  background-color: #082158;
}

.borde-fondo {
  border: 1px solid #082158;
}


/* globals.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}

.icono-filter {
  filter: drop-shadow(1px 1px 10px #1b52e7cc);
}